<div class="container mt-4">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-lg-12 m-2">
      <h1 class="font-weight-bold">All our flats</h1>
      <p>All our <%= @flats.count %> flats</p>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
        <div class="col-lg-4">
          <div class="card m-2 shadow" style="width: 20rem;">
            <%= image_tag flat.picture_url, alt: "...", class:"card-img-top" %>
            <div class="card-body bg-light border-bottom">
              <h5 class="card-title font-weight-bold"><%= flat.name %></h5>
              <p class="card-text"><%= flat.address %></p>
              <h6>
                <i class="fas fa-user-friends"><%= flat.number_of_guests %></i>
                <i class="fas fa-euro-sign px-2"><%= flat.price_per_night %></i>
              </h6>
            </div>
            <div class="bg-white p-3">
              <%= link_to "More info", flat_path(flat.id), class:"text-primary" %>
              <%= link_to "Edit", edit_flat_path(flat.id), class:"text-warning" %>
              <%= link_to "Remove",
                        flat_path(flat.id),
                        method: :delete,
                        class:"text-danger",
                        data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
