<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-5 bg-light p-4 rounded-lg">
      <h1 class="font-weight-bold">Add new Flat</h1>

      <%= simple_form_for(@flat) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :picture_url %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :number_of_guests %>
        <%= f.submit "Create flat", class: "btn btn-primary" %>
        <%= link_to 'Cancel', flats_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
